<a href="https://colab.research.google.com/github/alicebu/My-Proyect/blob/main/My_proyect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Heading level 1

## Heading level 2

#Text Formating

BOLD

**CAR**

##Italics

##Combine Bold and Italics

##Uederline

#List

##Unordered list

**grocery list:**

* rice

* milk

* eggs

* coffe

## Ordered list

**table Contents**

1. Introduction

2. Abstract

3. Results

##Nested list

A nested a list

# Sección nueva

# Example
##scientific notation

In [ ]:
1.52e2

152.0

# what happen if you to represent 0.25 with scientific notation

In [ ]:
0.025e1

0.25

In [ ]:
2.5e-1

0.25

# example 
1.5e0.5

In [ ]:
1.5e5

150000.0

### **Transformation**




```
# Tiene formato de código
```

In [ ]:
# Examplr int to float
float(5)

5.0

In [ ]:
# Examole float to int
int(7.25)

7

## 3.4. Basic function

###**print**

In [ ]:
# Number Example
print(2022,8,11)

2022 8 11

In [ ]:
# Strin (alphabet) Example 
print('rodrigo')

rodrigo

In [ ]:
# More complicated examples
print('First Name: Quintero','Last Name: Bulla')
print('First Name: Quintero\tLast Name: Bulla')
print('First Name: Quintero\nLast Name: Bulla')

First Name: Quintero Last Name: Bulla
First Name: Quintero	Last Name: Bulla
First Name: Quintero
Last Name: Bulla

In [ ]:
# More complicated number example
for i in range(0,10): print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Combine string and numbers
print('My favorite number is:' ,3,'yes')

My favorite number is: 3 yes

In [ ]:
# A simple example
round(1.253,2)

1.25

In [ ]:
# Time to practique
# Consider the number 7.2354
# Print every result for rounding from 3 to 0 positions
print('Round with', 0, 'decimals', round(7.2345,0))
print('Round with', 1, 'decimals', round(7.2345,1))
print('Round with', 2, 'decimals', round(7.2345,2))
print('Round with', 3, 'decimals', round(7.2345,3))

Round with 0 decimals 7.0
Round with 1 decimals 7.2
Round with 2 decimals 7.23
Round with 3 decimals 7.234

In [ ]:
# If we for loops
for i in range(0,4): print('Round with', i, 'decimals', round(7.2345,i))

Round with 0 decimals 7.0
Round with 1 decimals 7.2
Round with 2 decimals 7.23
Round with 3 decimals 7.234

In [ ]:
# practice 
# Print the first 100 multiplies of the number the 2
for i in range(1,100): print('multiplique of' , i, ':',  (2*i))

multiplique of 1 : 2
multiplique of 2 : 4
multiplique of 3 : 6
multiplique of 4 : 8
multiplique of 5 : 10
multiplique of 6 : 12
multiplique of 7 : 14
multiplique of 8 : 16
multiplique of 9 : 18
multiplique of 10 : 20
multiplique of 11 : 22
multiplique of 12 : 24
multiplique of 13 : 26
multiplique of 14 : 28
multiplique of 15 : 30
multiplique of 16 : 32
multiplique of 17 : 34
multiplique of 18 : 36
multiplique of 19 : 38
multiplique of 20 : 40
multiplique of 21 : 42
multiplique of 22 : 44
multiplique of 23 : 46
multiplique of 24 : 48
multiplique of 25 : 50
multiplique of 26 : 52
multiplique of 27 : 54
multiplique of 28 : 56
multiplique of 29 : 58
multiplique of 30 : 60
multiplique of 31 : 62
multiplique of 32 : 64
multiplique of 33 : 66
multiplique of 34 : 68
multiplique of 35 : 70
multiplique of 36 : 72
multiplique of 37 : 74
multiplique of 38 : 76
multiplique of 39 : 78
multiplique of 40 : 80
multiplique of 41 : 82
multiplique of 42 : 84
multiplique of 43 : 86
multiplique of 44 : 88
multiplique of 45 : 90
multiplique of 46 : 92
multiplique of 47 : 94
multiplique of 48 : 96
multiplique of 49 : 98
multiplique of 50 : 100
multiplique of 51 : 102
multiplique of 52 : 104
multiplique of 53 : 106
multiplique of 54 : 108
multiplique of 55 : 110
multiplique of 56 : 112
multiplique of 57 : 114
multiplique of 58 : 116
multiplique of 59 : 118
multiplique of 60 : 120
multiplique of 61 : 122
multiplique of 62 : 124
multiplique of 63 : 126
multiplique of 64 : 128
multiplique of 65 : 130
multiplique of 66 : 132
multiplique of 67 : 134
multiplique of 68 : 136
multiplique of 69 : 138
multiplique of 70 : 140
multiplique of 71 : 142
multiplique of 72 : 144
multiplique of 73 : 146
multiplique of 74 : 148
multiplique of 75 : 150
multiplique of 76 : 152
multiplique of 77 : 154
multiplique of 78 : 156
multiplique of 79 : 158
multiplique of 80 : 160
multiplique of 81 : 162
multiplique of 82 : 164
multiplique of 83 : 166
multiplique of 84 : 168
multiplique of 85 : 170
multiplique of 86 : 172
multiplique of 87 : 174
multiplique of 88 : 176
multiplique of 89 : 178
multiplique of 90 : 180
multiplique of 91 : 182
multiplique of 92 : 184
multiplique of 93 : 186
multiplique of 94 : 188
multiplique of 95 : 190
multiplique of 96 : 192
multiplique of 97 : 194
multiplique of 98 : 196
multiplique of 99 : 198

##Absolute value

In [ ]:
# EXAMPLE used in data analitycs
abs(-25)

25

In [ ]:
# Loops with variables

x = 7.2345

for i in range(0,4): print('Round with', i, 'decimals', round(x,i))

Round with 0 decimals 7.0
Round with 1 decimals 7.2
Round with 2 decimals 7.23
Round with 3 decimals 7.234

In [ ]:
# practice 
# Loops with variables - #2

w = 2

for i in range(1,100): print('multiplique of' , i, ':',  (w*i))

multiplique of 1 : 2
multiplique of 2 : 4
multiplique of 3 : 6
multiplique of 4 : 8
multiplique of 5 : 10
multiplique of 6 : 12
multiplique of 7 : 14
multiplique of 8 : 16
multiplique of 9 : 18
multiplique of 10 : 20
multiplique of 11 : 22
multiplique of 12 : 24
multiplique of 13 : 26
multiplique of 14 : 28
multiplique of 15 : 30
multiplique of 16 : 32
multiplique of 17 : 34
multiplique of 18 : 36
multiplique of 19 : 38
multiplique of 20 : 40
multiplique of 21 : 42
multiplique of 22 : 44
multiplique of 23 : 46
multiplique of 24 : 48
multiplique of 25 : 50
multiplique of 26 : 52
multiplique of 27 : 54
multiplique of 28 : 56
multiplique of 29 : 58
multiplique of 30 : 60
multiplique of 31 : 62
multiplique of 32 : 64
multiplique of 33 : 66
multiplique of 34 : 68
multiplique of 35 : 70
multiplique of 36 : 72
multiplique of 37 : 74
multiplique of 38 : 76
multiplique of 39 : 78
multiplique of 40 : 80
multiplique of 41 : 82
multiplique of 42 : 84
multiplique of 43 : 86
multiplique of 44 : 88
multiplique of 45 : 90
multiplique of 46 : 92
multiplique of 47 : 94
multiplique of 48 : 96
multiplique of 49 : 98
multiplique of 50 : 100
multiplique of 51 : 102
multiplique of 52 : 104
multiplique of 53 : 106
multiplique of 54 : 108
multiplique of 55 : 110
multiplique of 56 : 112
multiplique of 57 : 114
multiplique of 58 : 116
multiplique of 59 : 118
multiplique of 60 : 120
multiplique of 61 : 122
multiplique of 62 : 124
multiplique of 63 : 126
multiplique of 64 : 128
multiplique of 65 : 130
multiplique of 66 : 132
multiplique of 67 : 134
multiplique of 68 : 136
multiplique of 69 : 138
multiplique of 70 : 140
multiplique of 71 : 142
multiplique of 72 : 144
multiplique of 73 : 146
multiplique of 74 : 148
multiplique of 75 : 150
multiplique of 76 : 152
multiplique of 77 : 154
multiplique of 78 : 156
multiplique of 79 : 158
multiplique of 80 : 160
multiplique of 81 : 162
multiplique of 82 : 164
multiplique of 83 : 166
multiplique of 84 : 168
multiplique of 85 : 170
multiplique of 86 : 172
multiplique of 87 : 174
multiplique of 88 : 176
multiplique of 89 : 178
multiplique of 90 : 180
multiplique of 91 : 182
multiplique of 92 : 184
multiplique of 93 : 186
multiplique of 94 : 188
multiplique of 95 : 190
multiplique of 96 : 192
multiplique of 97 : 194
multiplique of 98 : 196
multiplique of 99 : 198

#*Data* types

## 5.1 Integers

##5.2 Float

In [2]:
#book_prie = 100

##python as a calculator

In [3]:
# Example

x = 3
y = 4
z = 5
print('x + y = ', x + z)

x + y =  8

##Lest  try a nice trick

In [4]:
# Nie Trick
w = 0

In [12]:
# Nice trick
w += 2
print(w)

9

## 5.3 Booleans

These are variables with values of 'True or False'

In [13]:
 # Example

 is_Sunny = True
 print(type(is_Sunny))

<class 'bool'>

More important are **BOOLEAN EXPRESSIONS** (mean true or false)

In [14]:
# Example 
x = 2
y = 3

print('is x equals to y?', x == y)
print('is x NOT equal to y?', x != y)
print('is x great than y?', x > y)
print('is x less than y?', x < y)

is x equals to y? False
is x NOT equal to y? True
is x great than y? False
is x less than y? True

In [ ]:
# Practice - hard mode!!

# using loops, you are going to evaluate the b_e
# x+y > x*y
# For x= 1,2,3.....,10
#     y = 11,12,13....,20

x = 1,2,3,4,5,6,7,8,9,10
y = 11,12,13,14,15,16,17,18,19,20



print(x + y)
print(x * y)

print('x+y > x*y')
for i in range(1,11): print('evaluate of' , y, ':',  (x,y*i))

In [23]:
# Solution
print('Is x +y > x* y?')
for x in range(1,11):
 for y in range(11,21):
   print('is ', x , '+', y, '>', x, '*', y, '?', x + y > x * y)

Is x +y > x* y?
is  1 + 11 > 1 * 11 ? True
is  1 + 12 > 1 * 12 ? True
is  1 + 13 > 1 * 13 ? True
is  1 + 14 > 1 * 14 ? True
is  1 + 15 > 1 * 15 ? True
is  1 + 16 > 1 * 16 ? True
is  1 + 17 > 1 * 17 ? True
is  1 + 18 > 1 * 18 ? True
is  1 + 19 > 1 * 19 ? True
is  1 + 20 > 1 * 20 ? True
is  2 + 11 > 2 * 11 ? False
is  2 + 12 > 2 * 12 ? False
is  2 + 13 > 2 * 13 ? False
is  2 + 14 > 2 * 14 ? False
is  2 + 15 > 2 * 15 ? False
is  2 + 16 > 2 * 16 ? False
is  2 + 17 > 2 * 17 ? False
is  2 + 18 > 2 * 18 ? False
is  2 + 19 > 2 * 19 ? False
is  2 + 20 > 2 * 20 ? False
is  3 + 11 > 3 * 11 ? False
is  3 + 12 > 3 * 12 ? False
is  3 + 13 > 3 * 13 ? False
is  3 + 14 > 3 * 14 ? False
is  3 + 15 > 3 * 15 ? False
is  3 + 16 > 3 * 16 ? False
is  3 + 17 > 3 * 17 ? False
is  3 + 18 > 3 * 18 ? False
is  3 + 19 > 3 * 19 ? False
is  3 + 20 > 3 * 20 ? False
is  4 + 11 > 4 * 11 ? False
is  4 + 12 > 4 * 12 ? False
is  4 + 13 > 4 * 13 ? False
is  4 + 14 > 4 * 14 ? False
is  4 + 15 > 4 * 15 ? False
is  4 + 16 > 4 * 16 ? False
is  4 + 17 > 4 * 17 ? False
is  4 + 18 > 4 * 18 ? False
is  4 + 19 > 4 * 19 ? False
is  4 + 20 > 4 * 20 ? False
is  5 + 11 > 5 * 11 ? False
is  5 + 12 > 5 * 12 ? False
is  5 + 13 > 5 * 13 ? False
is  5 + 14 > 5 * 14 ? False
is  5 + 15 > 5 * 15 ? False
is  5 + 16 > 5 * 16 ? False
is  5 + 17 > 5 * 17 ? False
is  5 + 18 > 5 * 18 ? False
is  5 + 19 > 5 * 19 ? False
is  5 + 20 > 5 * 20 ? False
is  6 + 11 > 6 * 11 ? False
is  6 + 12 > 6 * 12 ? False
is  6 + 13 > 6 * 13 ? False
is  6 + 14 > 6 * 14 ? False
is  6 + 15 > 6 * 15 ? False
is  6 + 16 > 6 * 16 ? False
is  6 + 17 > 6 * 17 ? False
is  6 + 18 > 6 * 18 ? False
is  6 + 19 > 6 * 19 ? False
is  6 + 20 > 6 * 20 ? False
is  7 + 11 > 7 * 11 ? False
is  7 + 12 > 7 * 12 ? False
is  7 + 13 > 7 * 13 ? False
is  7 + 14 > 7 * 14 ? False
is  7 + 15 > 7 * 15 ? False
is  7 + 16 > 7 * 16 ? False
is  7 + 17 > 7 * 17 ? False
is  7 + 18 > 7 * 18 ? False
is  7 + 19 > 7 * 19 ? False
is  7 + 20 > 7 * 20 ? False
is  8 + 11 > 8 * 11 ? False
is  8 + 12 > 8 * 12 ? False
is  8 + 13 > 8 * 13 ? False
is  8 + 14 > 8 * 14 ? False
is  8 + 15 > 8 * 15 ? False
is  8 + 16 > 8 * 16 ? False
is  8 + 17 > 8 * 17 ? False
is  8 + 18 > 8 * 18 ? False
is  8 + 19 > 8 * 19 ? False
is  8 + 20 > 8 * 20 ? False
is  9 + 11 > 9 * 11 ? False
is  9 + 12 > 9 * 12 ? False
is  9 + 13 > 9 * 13 ? False
is  9 + 14 > 9 * 14 ? False
is  9 + 15 > 9 * 15 ? False
is  9 + 16 > 9 * 16 ? False
is  9 + 17 > 9 * 17 ? False
is  9 + 18 > 9 * 18 ? False
is  9 + 19 > 9 * 19 ? False
is  9 + 20 > 9 * 20 ? False
is  10 + 11 > 10 * 11 ? False
is  10 + 12 > 10 * 12 ? False
is  10 + 13 > 10 * 13 ? False
is  10 + 14 > 10 * 14 ? False
is  10 + 15 > 10 * 15 ? False
is  10 + 16 > 10 * 16 ? False
is  10 + 17 > 10 * 17 ? False
is  10 + 18 > 10 * 18 ? False
is  10 + 19 > 10 * 19 ? False
is  10 + 20 > 10 * 20 ? False

In [26]:
# Activity multiplications tables

print('multiplique x * y')
for x in range(1,11):
 for y in range(1,11):
   print('the table of', x , '*', y, x * y)

multiplique x * y
the table of 1 * 1 1
the table of 1 * 2 2
the table of 1 * 3 3
the table of 1 * 4 4
the table of 1 * 5 5
the table of 1 * 6 6
the table of 1 * 7 7
the table of 1 * 8 8
the table of 1 * 9 9
the table of 1 * 10 10
the table of 2 * 1 2
the table of 2 * 2 4
the table of 2 * 3 6
the table of 2 * 4 8
the table of 2 * 5 10
the table of 2 * 6 12
the table of 2 * 7 14
the table of 2 * 8 16
the table of 2 * 9 18
the table of 2 * 10 20
the table of 3 * 1 3
the table of 3 * 2 6
the table of 3 * 3 9
the table of 3 * 4 12
the table of 3 * 5 15
the table of 3 * 6 18
the table of 3 * 7 21
the table of 3 * 8 24
the table of 3 * 9 27
the table of 3 * 10 30
the table of 4 * 1 4
the table of 4 * 2 8
the table of 4 * 3 12
the table of 4 * 4 16
the table of 4 * 5 20
the table of 4 * 6 24
the table of 4 * 7 28
the table of 4 * 8 32
the table of 4 * 9 36
the table of 4 * 10 40
the table of 5 * 1 5
the table of 5 * 2 10
the table of 5 * 3 15
the table of 5 * 4 20
the table of 5 * 5 25
the table of 5 * 6 30
the table of 5 * 7 35
the table of 5 * 8 40
the table of 5 * 9 45
the table of 5 * 10 50
the table of 6 * 1 6
the table of 6 * 2 12
the table of 6 * 3 18
the table of 6 * 4 24
the table of 6 * 5 30
the table of 6 * 6 36
the table of 6 * 7 42
the table of 6 * 8 48
the table of 6 * 9 54
the table of 6 * 10 60
the table of 7 * 1 7
the table of 7 * 2 14
the table of 7 * 3 21
the table of 7 * 4 28
the table of 7 * 5 35
the table of 7 * 6 42
the table of 7 * 7 49
the table of 7 * 8 56
the table of 7 * 9 63
the table of 7 * 10 70
the table of 8 * 1 8
the table of 8 * 2 16
the table of 8 * 3 24
the table of 8 * 4 32
the table of 8 * 5 40
the table of 8 * 6 48
the table of 8 * 7 56
the table of 8 * 8 64
the table of 8 * 9 72
the table of 8 * 10 80
the table of 9 * 1 9
the table of 9 * 2 18
the table of 9 * 3 27
the table of 9 * 4 36
the table of 9 * 5 45
the table of 9 * 6 54
the table of 9 * 7 63
the table of 9 * 8 72
the table of 9 * 9 81
the table of 9 * 10 90
the table of 10 * 1 10
the table of 10 * 2 20
the table of 10 * 3 30
the table of 10 * 4 40
the table of 10 * 5 50
the table of 10 * 6 60
the table of 10 * 7 70
the table of 10 * 8 80
the table of 10 * 9 90
the table of 10 * 10 100

In [30]:
# Prcatice
# Multiplication - A solutions

for x in range(1,9):
  print('Table of', x, ':')
  for y in range(1,9):
    print(x, '*', y, '=', x*y)

Table of 1 :
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
Table of 2 :
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
Table of 3 :
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
Table of 4 :
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
Table of 5 :
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
Table of 6 :
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
Table of 7 :
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
Table of 8 :
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64